{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{listing.title}}</h2>
    <p>{{listing.description}}</p>
    <p>Starting Bid: {{listing.starting_bid}}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ bidform.as_p }}
        <input type="submit" value="Place Bid">
    </form>
    <img src="{{listing.image.url}}">

    <h3>Comments</h3>

    {% for comment in comments %}
        <div class="comments" style="padding: 10px;"> 
         <p class="font-weight-bold"> 
           {{ comment.name }} 
           <span class=" text-muted font-weight-normal"> 
             {{ comment.created_at }}
            </span>
          </p>
          {{ comment.comment | linebreaks }}
        </div>
    {% endfor %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ commentform.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
    
{% endblock %}